<h1 align="center">Add Test</h1>
<div class="row justify-content-center">
    <div class="col-sm-4 text-left bg-white rounded shadow py-13">

        <form #formdata="ngForm" (ngSubmit)="formdata.valid && register(formdata)">
           
            <p class="text-danger" *ngIf="result==null"><small>{{msg}}</small></p>
            <div>
                <label>Test Name</label><br>
                <input type="text" ngModel name="testName" class="form-control" required minlength="5" ngModel #testName="ngModel" pattern="[A-Za-z]{5,}">
                <small class="text-danger" *ngIf="!testName.valid && testName.touched && testName.errors ">Test name is required, Test name should be String, minlength should be 5</small>
            </div>
            <br>
            <div>
                <label>Test Price</label><br>
                <input type="number" name="testPrice" class="form-control" required ngModel #testPrice="ngModel" pattern="[1-9]{1}[0-9]{2,4}">
                <small class="text-danger" *ngIf="!testPrice.valid && testPrice.touched && testPrice.errors ">Test price is required, price should be more than 100 Rs but less than 99999 </small>
            </div>

            <br>
            <div>
                <label>Center Id</label><br>
                <input type="number" name="centerId" class="form-control" required minlength="1" ngModel #centerId="ngModel" pattern="[1-9]{1,}">
                <small class="text-danger" *ngIf="!centerId.valid && centerId.touched && centerId.errors">Center Id is required, minlength should be 1</small>

            </div>
            
            <br>

            <button type="button" type="submit" value="submit"  [disabled]="!formdata.valid" class="btn btn-success">Add Test</button>

        </form>
        <br>


        <div id="result" *ngIf="result!=null">
            <p class="text-success">Test added successfully!!</p>
            <table class="table table-striped">

                <tr>
                    <th>TestId</th>
                    <th>TestName</th>
                    <th>Test Price</th>
                    <th>Center Id</th>
                </tr>

                <tr>
                    <td>{{result.testId}}</td>
                    <td>{{result.testName}}</td>
                    <td>{{result.testPrice}}</td>
                    <td>{{addedTest.centerId}}</td>

                </tr>
            </table>
        </div>
    </div>
</div>